# IDEs
.idea/
.vscode/
*.iml
*.ipr
*.iws

# OS Files
.DS_Store
Thumbs.db

# Log files
*.log
backend/logs/
backend/access.log
backend/history.log

# Backend dependencies & env
backend/node_modules/
backend/.env
backend/.env.test
backend/uploads/*
!backend/uploads/.gitkeep

# Flutter dependencies & build artifacts
mobile_app/.dart_tool/
mobile_app/.flutter-plugins/
mobile_app/.flutter-plugins-dependencies
mobile_app/.pub-cache/
mobile_app/.pub/
mobile_app/build/
mobile_app/coverage/
mobile_app/android/app/debug/
mobile_app/android/app/profile/
mobile_app/android/app/release/
